.label_list {
    display: flex;
    flex-direction: column;
    width: 120px;
    height: 150px;
    position: absolute;
    margin-left: 130px;
    margin-top: 70px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: solid rgb(225, 225, 225);
    border-width: 2px;
}

.label_list_open {
    border: 0px;
    width: 120px;
    height: 50px;
    font-size: 18px;
    border-width: 2px;
    background-color: rgb(223, 223, 223);
    color: black;
}

.label_list_open:hover {
    background-color: rgb(210, 210, 210);
    cursor: pointer;
    transition: .2s ease-in-out;
}

.label_list_in_progress {
    composes: label_list_open;
    color: red !important;
    background-color: rgb(245, 215, 215);
    font-size: 16px;
}

.label_list_in_progress:hover {
    background-color: rgb(244, 203, 203);
    cursor: pointer;
}

.label_list_done {
    composes: label_list_open;
    color: green !important;
    background-color: rgb(192, 253, 198);
}

.label_list_done:hover {
    background-color: rgb(164, 253, 173);
    cursor: pointer;
}

.new_issue_table {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    border: 2px solid rgb(6, 2, 150);
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
}

.new_issue_title {
    position: absolute;
    left: 23px;
}

.new_issue_form {
    display: flex;
    flex-direction: column;
}

.new_issue_label_o {
    background-color: rgb(223, 223, 223);
    height: 50px;
    width: 120px;
    border: 0;
    border-radius: 7px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    line-height: 30px;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 70px;
}

.new_issue_label_o:hover {
    background-color: rgb(210, 210, 210);
}

.new_issue_label_i {
    composes: new_issue_label_o;
    background-color: rgb(245, 215, 215);
    font-size: 16px;
    color: red;
}

.new_issue_label_i:hover {
    background-color: rgb(244, 203, 203);
}

.new_issue_label_d {
    background-color: rgb(192, 253, 198);
    composes: new_issue_label_o;
    color: green;
}

.new_issue_label_d:hover {
    background-color: rgb(164, 253, 173);
}

.new_issue_label_a {
    composes: new_issue_label_o;
    width: fit-content;
    padding: 20px 20px;
}

.new_issue_label_d:hover {
    background-color: rgb(164, 253, 173);
}

.new_issue_input_title {
    padding: 10px;
    font-size: 18px;
    border: 2px solid gray;
    border-radius: 7px;
}

.new_issue_input_body {
    margin-top: 20px;
    padding: 10px;
    font-size: 18px;
    border: 2px solid gray;
    border-radius: 7px;
}

.new_issue_button_div {
    margin-top: 20px;
    margin-bottom: 20px;
}

.close_new_issue_table {
    height: 40px;
    width: 130px;
    font-size: 18px;
    background-color: rgb(255, 62, 62);
    color: white;
    border: 0;
    border-radius: 7px;
    cursor: pointer;
}

.close_new_issue_table:hover {
    background-color: rgb(255, 30, 30);
}

.send_new_issue_table {
    height: 40px;
    width: 130px;
    font-size: 18px;
    background-color: rgb(0, 162, 0);
    color: white;
    border: 0;
    border-radius: 7px;
    cursor: pointer;
    float: right;
}

.send_new_issue_table:hover {
    background-color: rgb(1, 150, 1);
}