.list_element_o {
    background-color: rgb(240, 240, 240);
    width: 1000px;
    margin-bottom: 40px;
    border-radius: 15px;
    overflow-x: auto;
}

.list_element_i {
    background-color: rgb(255, 232, 232);
    composes: list_element_o;
}

.list_element_d {
    background-color: rgb(220, 255, 240);
    composes: list_element_o;
}

.list_element_a {
    composes: list_element_o;
}

.top_row {
    display: flex;
    flex-direction: row;
}

.issue_label_o {
    background-color: rgb(223, 223, 223);
    height: 50px;
    width: 120px;
    border: 0;
    border-radius: 7px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    line-height: 30px;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 70px;
    color: black;
}

.issue_label_o:hover {
    background-color: rgb(210, 210, 210);
}

.issue_label_i {
    background-color: rgb(245, 215, 215);
    color: red !important;
    composes: issue_label_o;
    font-size: 16px;
}

.issue_label_i:hover {
    background-color: rgb(244, 203, 203);
}

.issue_label_d {
    background-color: rgb(192, 253, 198);
    color: green !important;
    composes: issue_label_o;
}

.issue_label_d:hover {
    background-color: rgb(164, 253, 173);
}

.issue_label_a {
    composes: issue_label_o;
    width: auto;
    padding: 20px 20px;
}

.option_list {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 100px;
    position: absolute;
    margin-left: 780px;
    margin-top: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: solid rgb(213, 218, 255);
    border-width: 2px;
    z-index: 100;
    overflow: hidden;
}

.option_list_edit {
    width: 150px;
    height: 50px;
    border: 0;
    border-bottom: solid rgb(213, 218, 255);
    border-width: 2px;
    font-size: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.option_list_edit:hover {
    background-color: rgb(225, 225, 225);
    cursor: pointer;
    transition: .2s ease-in-out;
}

.option_list_icon {
    margin-right: 5px;
}

.option_list_delete {
    composes: option_list_edit;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 0;
    color: red;
    background-color: white;
}

.option_list_delete:hover {
    background-color: rgb(245, 205, 205);
    cursor: pointer;
}

.option_list_delete:disabled {
    background-color: white !important;
    color: gray !important;
    cursor: auto !important;
}

.issue_title {
    margin-left: 50px;
}

.issue_body {
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 30px;
    line-height: 25px;
    font-size: 20px;
    width: fit-content;
}

.more_icon_div {
    position: absolute;
    margin-left: 945px;
    margin-top: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
}

.more_icon_div:hover {
    background-color: rgb(220, 220, 220);
    cursor: pointer;
    transition: .2s ease-in-out;
}

.edit_table {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    border: 2px solid rgb(6, 2, 150);
    position: absolute;
    margin-left: 570px;
}

.edit_title {
    margin-left: 22px;
}

.edit_form {
    display: flex;
    flex-direction: column;
}

.input_title {
    height: 30px;
    width: 300px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 10px;
    font-size: 18px;
    border: 2px solid gray;
    border-radius: 7px;
}

.input_body {
    composes: input_title;
    margin-top: 20px;
}

.cover_issue_table {
    position: absolute;
    margin-left: 520px;
}

.edit_label_list {
    width: 118px;
    margin-left: 103px !important;
    margin-top: 90px !important;
    composes: label_list from "../IssueTable/IssueTable.module.css";
}

.edit_label_list_open {
    width: 118px;
    composes: label_list_open from "../IssueTable/IssueTable.module.css";
}

.edit_label_list_open:hover {
    background-color: rgb(210, 210, 210);
    cursor: pointer;
}

.edit_label_list_in_progress {
    color: red !important;
    background-color: rgb(252, 210, 210) !important;
    border-radius: 0px;
    font-size: 16px !important;
    composes: edit_label_list_open;
}

.edit_label_list_in_progress:hover {
    background-color: rgb(253, 190, 190) !important;
}

.edit_label_list_done {
    composes: edit_label_list_open;
    color: green !important;
    background-color: rgb(192, 253, 198) !important;
}

.edit_label_list_done:hover {
    background-color: rgb(169, 247, 177) !important;
}

.state_open_icon {
    position: relative;
    top: 40px;
    left: 50px;
    color: green;
}

@media screen and (max-width: 1000px) {
 
}